<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to LearnKode - A code learning platform</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
</head>
<body ng-app="app" ng-init="arr=[1,2,3,4,5]">
    <div ng-controller="controllerName">
        <table>
            <tr>
                <th>Rollno</th>
                <th>Name</th>
                <th>Class</th>
                <th>Section</th>
            </tr>
            <tr ng-repeat="student in students">
                <td>{{student.rollno}}</td>
                <td>{{student.name}}</td>
                <td>{{student.cls}}</td>
                <td>{{student.section}}</td>
            </tr>
        
        </table>
        <ul >
            <li ng-repeat="a in arr">{{a}}</li>
            
        </ul>
    </div>
	<div ng-include src="'ng-if.html'"></div>
<script>
    var app = angular.module("app", []);
    app.controller('controllerName', ['$scope', function ($scope) {
        $scope.students = [{ rollno: '1', name: 'John', cls: '5th', section: 'A' }, { rollno: '6', name: 'Smith', cls: '4th', section: 'D' }, { rollno: '5', name: 'Allen', cls: '6th', section: 'C' }];
    }]);
</script>
</body>
</html>