/* Styles go here */
.container {
    width: 620px;
    margin-top: 5%;
}
.progress {
    width: 100%;
}
.progress-bar {
    max-width: 100%;
}
select {
    width: 100%;
    height: 34px;
}
.red {
    background-color: red;
}